.App {
  text-align: center;
  height: 100%;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0rem 2rem;
  overflow: hidden;
}

.nav-item {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.connect-btn {
  margin: 10px 14px;
}

.acc-container {
  display: flex;
  float: right;
}

.primary-btn {
  background-color: #2196f3;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  float: right;
}

.primary-btn:hover {
  background-color: #0b7dda;
}

.primary-btn:disabled {
  background-color: #2196f3;
  opacity: 0.7;
  cursor: not-allowed;
}

.center {
  text-align: center;
  justify-content: center;
  place-items: center;
  align-self: center;
  height: 80vh;
  display: flex;
  padding: 0px 3rem;
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  width: 70px;
  height: 70px;
}

.game img:hover {
  transform: scale(1.3);
}

.account {
  padding: 14px 16px;
  margin: 0;
  color: white;
}

.hide {
  visibility: hidden;
}